<html>
<head></head>
<body>
<h1>Add Blog Post</h1>
    <form method="POST" action="/add-post">
        <input type="text" placeHolder="Enter a title" name="postTitle" />
        <input type="text" placeHolder="Enter the body" name="postBody" />
        <input type="text" placeHolder="Enter a category" name="postCategory" />
        <button>Save</button>
    </form>

</body>
</html>