<html>
<head></head>
<body>
<h1>Blog Posts</h1>
    <div>
    <a href="http://localhost:3000/add-post"><button>Add Blog Post</button></a>
    </div>
        <div>
    <a href="http://localhost:3000/filter"><button>Filter by Category</button></a>
    </div>
    <ul>
    {{#allPosts}} 
        <li>
        <p><b>Title: </b>{{title}}</p>
        <p><b>Body: </b>{{body}}</p>
        <p><b>Category: </b>{{category}}</p>
        <form method="GET" action="/posts/{{id}}"> 
        <input type="hidden" value="{{id}}"  name="postID"/>
        <button>Post a Comment</button> 
        </form>
        <form method="GET" action="/update/{{id}}"> 
        <input type="hidden" value="{{id}}"  name="updateID"/>
        <button>Edit</button> 
        </form>
        <form method="POST" action="/delete-post"> 
        <input type="hidden" value="{{id}}"  name="deletePostID"/>
        <button>Delete</button> 
        </form>
        </li>

    {{/allPosts}}
    </ul>

</body>
</html>