<html>
<head></head>
<body>
<h1>Edit Blog Post</h1>
<div>
    <a href="http://localhost:3000/posts"><button>View All Blog Posts</button></a>
</div>
<p></p>
<div>    
    <form method="POST" action="/update">
        <div style="display:flex; flex-direction:column; width:50%">
            <input type="text" value="{{title}}" name="updateTitle" />
            <textarea name="updateBody">{{body}}</textarea>
            <input type="text" value="{{category}}" name="updateCategory" />
            <input type="hidden" value={{id}} name="updateID" />
            
        </div>
        <button>Save</button>
    </form>
 </div>
 <ul>

        <li>
            <p><b>ID: </b>{{id}}</p>            
            <p><b>Title: </b>{{title}}</p>
            <p><b>Body: </b>{{body}}</p>
            <p><b>Category: </b>{{category}}</p>
            <form method="POST" action="/delete-post"> 
                <input type="hidden" value="{{id}}"  name="deletePostID"/>
                <button>Delete</button> 
            </form>
        </li>

</ul>
</body>
</html>